@import "config";
@import "utils";

body {
  background: {
    color: $bg-color;
  }
  font: {
    size: 13px
  }
  color: $color;
}
* {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
}

.card {
  border: {
    style: none;
    radius: $border-radius;
  }
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  .card-title {
    margin-bottom: 20px; 
  }
  .card-title {
    margin-bottom: 10px;
  }
  table.table {
    margin-bottom: 0;
  }
}
label {
  font-weight: 500;
}
.form-control {
  //border: 1px solid $color-light;
  &:focus {
    border: 1px solid $primary;
  } 
}
table {
  .action {
    width: 20px;
    padding: 7px;
    .btn-link {
      color: $color;
      cursor: pointer;
      i.fa {
        font-size: 20px;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}
.modal {
  .modal-header, .modal-footer {
    padding: 5px 10px;
    border: 0;
  }
  .modal-content {
    border-radius: $border-radius;
  }
}
.btn{
  cursor: pointer;
}
